.Header {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.Header-title {
  font-family: Fell;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.Header-subtitle {
  font-size: 1.6rem;
}
