.HomePage-birds {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-top: 3rem; */
}

.HomePage-bird.card {
  background: white;
  width: 22rem;
  margin: 3rem 1rem;
  border-radius: 0;
}

.HomePage-bird-image.card-img-top {
  height: 14rem;
  object-fit: cover;
  border-radius: 0;
}

.card-title {
  font-family: Fell;
  font-size: 2rem;
}
